.air-q {
  padding: 50px 0;
  &-map {
    height: 560px;
    margin: 42px 0;
  }
  &-title {
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
  }
  &-text {
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
  }
}